<table class="table">
  <thead>
    <tr>
      <th>Platform type</th>
      <th>Ip</th>
    </tr>
  </thead>

  <tbody>
     <tr>
      <td><%= @platform.platform_type %></td>
      <td><%= @platform.ip %></td>
    </tr>
  </tbody>
</table>